.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer__text {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  width: 104px;
  height: 16px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  opacity: 70%;
  color: #212121;
}
